body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  font-size: 1em;
}


main {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding: 30px 50px 0 50px;
  background-color: white;
  min-height: 100vh;
}

.heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.image{
  height: auto;
}

.card-deck .card {
  width: 17rem;
  height: 41rem;
  margin-bottom: 15px !important;
}

.pastry-icon {
  width: 3rem;
  height: 3rem;
}

.btn-primary {
  background-color: #dbadad !important;
  border-color: #dbadad !important;
}

.category-color {
  color: #A57E79;
}

.favorite-header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}
